img{
    height: 50px;
    width: 50px;
}
#head {
    border: 5px solid #101010;
    background-color: #202020;
}
#header{
    font-family: fantasy;
    color: #FFFFFF;
}
body{
    background-color: #101010;
    background-image: url(CA7C1748-81EC-402D-9D91-BB73FE5738C1.jpeg);
    background-size:contain;
}
#options{
    background-color: #101010;
    border: 5px solid #202020;
}
p {
    color:white;
    font-family: fantasy;
}
.scot {
    border: 3px solid #303030;
    width: 100px;
    height: 75px;
    margin-top: 10px;
    margin-left: 20px;
}
.options{
    margin-top: 50px;
    background-color: #303030;
    border: 10px solid #303030;
    border-top: 5px;
}
div {
    background-color: transparent;
}
.scot:hover{
    border:3px solid #1b7ced;
}
.option {
    background-color:#202020;
    border: 5px solid #404040;
    margin-top: 50px;
    
}

.option:hover{
    border: 8px solid #1b7ced;
}
button {
    padding: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}