.header{
    text-align: center;
    font-family: Helvetica;
    border: 5px solid white;
    color: black;
    font-size:100px;
}
.header_body{
    text-align: center;
    position: relative;
}
.paragraph_body{
    align-content: center;
    background-color:aliceblue;
    border: 1px solid darkblue;
}
.paragraph_title{
    border: 5px solid #900000;
    font-family: Helvetica;
    text-align: center;
}
.image {
    border: 3px solid darkblue; 
    size: 50%;
}
.paragraph_text {
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
}
.imag {
    height: 500px;
    width: 500px;
}