.header_body{
    background-image: url(D9D6B706-C84C-4CB5-904F-AF0A1BA4750E.jpeg);
    align-self: center;
}
.header{
    text-align: center;
    font-family: Franklin Gothic Medium;
    border: 5px solid white;
}