.header{
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: Helvetica;
    border: 5px solid white;
}
.header_body{
    text-align: center;
    position: relative;
}
.header_image{
    height: 150px;
    width:500px;
}